.app {
    padding: 60px;
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: #063131;
}
.counter {
    margin-top: 50px;
    width: 50%;
    height: 200px;
    display: flex;
    justify-content: space-evenly;
}
.buttonSet {
    display: flex;
    justify-content: center;
}
.value {
    width: 250px;
    border: 2px solid #022c38;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    background-color: #066365;
}
.count {
    border: 2px solid #022c38;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    background-color: #066365;
}
.counterNumber{
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.containerButton{
    display: flex;
    justify-content: space-between;
}
.containerInput{
    display: flex;
    flex-direction: column;
}
.input{
    height: 25px;
    width: 120px;
}
.inputName{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.button{
    width: 80px;
    height: 35px;

}
.error {
    border: red 3px solid;
}

.errorMessage {
    color: red;
}